<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.opensourcefieldlinguistics.fielddb.lessons.georgian"
    android:versionCode="5"
    android:versionName="1.102.3" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:name="com.github.opensourcefieldlinguistics.fielddb.FieldDBApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.github.opensourcefieldlinguistics.fielddb.lessons.ui.DatumListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.github.opensourcefieldlinguistics.fielddb.lessons.ui.DatumDetailActivity"
            android:label="@string/title_datum_detail"
            android:parentActivityName="com.github.opensourcefieldlinguistics.fielddb.lessons.ui.DatumListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DatumListActivity" />
        </activity>
        <activity
            android:name="ca.ilanguage.oprime.datacollection.VideoRecorder"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="ca.ilanguage.oprime.datacollection.TakePicture"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name" >
        </activity>

        <service android:name="ca.ilanguage.oprime.datacollection.AudioRecorder" >
        </service>
        <service android:name="com.github.opensourcefieldlinguistics.fielddb.service.DownloadDatumsService" >
        </service>
        <service android:name="com.github.opensourcefieldlinguistics.fielddb.service.RegisterUserService" >
        </service>
        <service android:name="com.github.opensourcefieldlinguistics.fielddb.service.UploadAudioVideoService" >
        </service>
        <service android:name="com.github.opensourcefieldlinguistics.fielddb.service.KartuliSMSCorpusService" >
        </service>
        <service android:name="com.github.opensourcefieldlinguistics.fielddb.service.KartuliWebSearchCorpusService" >
        </service>
        <service android:name="com.github.opensourcefieldlinguistics.fielddb.service.KartuliLegalSearchCorpusService" >
        </service>

        <provider
            android:name="com.github.opensourcefieldlinguistics.fielddb.database.DatumContentProvider"
            android:authorities="com.github.opensourcefieldlinguistics.fielddb.kartuli.datum"
            android:exported="false" >
        </provider>
        <provider
            android:name="com.github.opensourcefieldlinguistics.fielddb.database.AudioVideoContentProvider"
            android:authorities="com.github.opensourcefieldlinguistics.fielddb.kartuli.audiovideo"
            android:exported="false" >
        </provider>
        <provider
            android:name="com.github.opensourcefieldlinguistics.fielddb.database.FieldDBUserContentProvider"
            android:authorities="com.github.opensourcefieldlinguistics.fielddb.kartuli.user"
            android:exported="false" >
        </provider>
    </application>

</manifest>
