<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.github.fielddb"
    android:installLocation="preferExternal">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:name="com.github.fielddb.FieldDBApplication">
        <!-- Mocks -->
        <activity android:name=".lessons.ui.FragmentUtilActivity"></activity>

        <!-- Data Collection -->
        <activity android:name=".datacollection.StopAudioRecorder" />
        <activity
            android:name="com.github.fielddb.datacollection.TakePicture"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"></activity>
        <activity
            android:name="com.github.fielddb.datacollection.VideoRecorder"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"></activity>

        <!-- Experimentation/Gamification -->
        <activity
            android:name="com.github.fielddb.experimentation.ui.ProductionExperimentActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/train"></activity>
        <activity android:name=".experimentation.ui.StopWatchSubExperiment"></activity>
        <activity android:name=".experimentation.ui.SubExperiment"></activity>
        <activity android:name=".experimentation.ui.TwoImageSubExperiment"></activity>

        <!-- Data as content -->
        <activity
            android:name="com.github.fielddb.lessons.ui.DatumDetailActivity"
            android:label="@string/title_datum_detail"
            android:parentActivityName="com.github.fielddb.lessons.ui.DatumListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.fielddb.lessons.ui.DatumListActivity" />
        </activity>
        <activity
            android:name="com.github.fielddb.lessons.ui.DatumListActivity"
            android:label="@string/title_datum_list_activity"></activity>
        <activity android:name=".lessons.ui.ListenAndRepeat"></activity>

        <!-- Data as Content (storybook) -->
        <activity android:name=".storybook.ui.StoryBookSubExperiment"></activity>

        <!-- Integration testing -->
        <activity android:name=".MainActivity"></activity>

        <service android:name="com.github.fielddb.datacollection.AudioRecorder"></service>
        <service android:name="com.github.fielddb.service.DownloadFilesService"></service>
        <service android:name="com.github.fielddb.service.DownloadDatumsService"></service>
        <service android:name="com.github.fielddb.service.RegisterUserService"></service>
        <service android:name="com.github.fielddb.service.UploadAudioVideoService"></service>

        <provider
            android:name="com.github.fielddb.database.DatumContentProvider"
            android:authorities="com.github.fielddb.test.default.datum"
            android:exported="true"></provider>
        <provider
            android:name="com.github.fielddb.database.AudioVideoContentProvider"
            android:authorities="com.github.fielddb.test.default.audiovideo"
            android:exported="true"></provider>
        <provider
            android:name="com.github.fielddb.database.FieldDBUserContentProvider"
            android:authorities="com.github.fielddb.test.default.user"
            android:exported="true"></provider>
    </application>

</manifest>
